<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Create a new account!</h1>
    <form action="/auth/sign-up" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" />

        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName" />

        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName" />

        <label for="email">Email:</label>
        <input type="text" name="email" id="email" />

        <label for="phoneNumber">Phone Number:</label>
        <input type="text" name="phoneNumber" id="phoneNumber" />
        <label>Type:</label><br>
        <input type="radio" id="office" name="category" value="Office">
        <label for="office">Office</label><br>

        <input type="radio" id="mobile" name="category" value="Mobile">
        <label for="mobile">Mobile</label><br>

        <button type="submit">Sign up</button>
      </form>
</body>
</html>