<link rel="stylesheet" href="/stylesheets/partials.css" />
<nav>
  <% if(user) { %>
  <div class="signed-in-navbar">
    <div class="nav-links">
      <a class="authlink" href="/users/<%=user._id%>/travelers"
        >Manage Travelers</a
      >
      <a class="authlink" href="/auth/<%=user._id%>/profile">View Profile</a>
      <a class="authlink" href="/auth/sign-out">Sign out</a>
    </div>
  </div>
  <% } else { %>
  <div class="navbar">
    <div class="nav-links">
      <a class="authlink" href="/auth/sign-in">Sign in</a>
      <a class="authlink" href="/auth/sign-up">Sign up</a>
    </div>
  </div>
  <% } %>
</nav>
