<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelHub</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>TravelHub</h1>
    <h2>Organize Your World</h2>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Sign in</a>
</body>
</html>