<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Client</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Client</h1>
    <form action="/users/<%= user._id %>/clients" method="POST">
        
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName">

        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName">

        <label for="phoneNumber">Phone Number:</label>
        <input type="text" name="phoneNumber" id="phoneNumber" >
        <label>Type:</label>
        <input type="radio" id="office" name="category" value="office">
        <label for="office">Office</label>
        <input type="radio" id="mobile" name="category" value="mobile">
        <label for="mobile">Mobile</label>
        <label for="phonePreferred">Preferred Contact</label>
        <input type="checkbox" name="phonePreferred" id="phonePreferred" >

        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <label for="emailPreferred">Preferred Contact</label>
        <input type="checkbox" name="emailPreferred" id="emailPreferred">

        <label for="departDate">Depart Date:</label>
        <input type="date" name="departDate" id="departDate">

        <label for="returnDate">Return Date:</label>
        <input type="date" name="returnDate" id="returnDate">

        <label for="destination">Destination:</label>
        <input type="text" name="destination" id="destination">

        <label for="hotel">Hotel:</label>
        <input type="text" name="hotel" id="hotel">

        <label for="airline">Airline:</label>
        <input type="text" name="airline" id="airline">

        <label for="carRentalRequired">Require Car Rental:</label>
        <select id="carRentalRequired" name="carRentalRequired">
            <option value="yes">Yes</option>
            <option value="no">No</option>
            <option value="maybe">Maybe</option>
        </select>

        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="tentative">Tentative</option>
            <option value="paymentPending">Payment Pending</option>
            <option value="booked">Booked</option>
        </select>

        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes"></textarea>

        <button type="submit">Add Client</button>
    </form>
</body>
</html>